@charset "UTF-8";
/* foundation
------------------------------------------ */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl,
li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, main,
aside, figure, figcaption {
  display: block;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

input, select, textarea {
  font: inherit;
  color: inherit;
  vertical-align: top;
}

figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
}

/* コンテンツ幅（カンプ幅 px）
------------------------------------------ */
/* ブレイクポイント
------------------------------------------ */
/* メディアクエリ
------------------------------------------ */
/* カラー
------------------------------------------ */
/* フォント
------------------------------------------ */
/* 基本設定
------------------------------------------ */
body {
  font-family: "DM Sans", "Zen Kaku Gothic New", sans-serif;
  font-size: 16px;
  color: #55463d;
  line-height: 1.5;
}

main,
footer {
  margin-left: auto;
  margin-right: auto;
  background-color: #f2edeb;
  max-width: 375px;
}
@media (min-width: 376px) {
  main,
  footer {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  main,
  footer {
    max-width: 768px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
a:hover {
  opacity: 0.7;
}

/* layout
------------------------------------------ */
.l-wrapper {
  width: 100%;
  background-image: url(../img/body_background.jpg);
  background-repeat: repeat;
}

/* footer
------------------------------------------ */
.l-footer {
  padding-top: 48px;
  padding-bottom: 24px;
  text-align: center;
}
@media (min-width: 768px) {
  .l-footer {
    padding-top: 45px;
  }
}

.l-footer__copyright {
  font-size: 10px;
}
@media (min-width: 768px) {
  .l-footer__copyright {
    font-size: 12px;
  }
}

/* component
------------------------------------------ */
.c-section__heading {
  color: #d43333;
  font-family: "Cormorant";
  font-size: 32px;
  text-align: center;
  position: relative;
}
@media (min-width: 768px) {
  .c-section__heading {
    font-size: 40px;
    letter-spacing: 1.6px;
  }
}

.c-inner {
  padding-left: 36px;
  padding-right: 36px;
}
@media (min-width: 768px) {
  .c-inner {
    padding-left: 64px;
    padding-right: 64px;
    margin: 0 auto;
    max-width: 828px;
  }
}

/* ゆらゆら揺れるアニメーション */
.c-swing-animation01 {
  -webkit-animation: swing-ease 4s ease infinite;
          animation: swing-ease 4s ease infinite;
  scale: 1;
}

@-webkit-keyframes swing-ease {
  0% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  35% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  50% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  85% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  100% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
}

@keyframes swing-ease {
  0% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  35% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  50% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  85% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  100% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
}
.c-swing-animation02 {
  -webkit-animation: swing-linear 4s linear infinite;
          animation: swing-linear 4s linear infinite;
  scale: 1;
}

@-webkit-keyframes swing-linear {
  0% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  35% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  50% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  85% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  100% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
}

@keyframes swing-linear {
  0% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  35% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  50% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  85% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  100% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
}
/* project
------------------------------------------ */
/* about
------------------------------------------ */
.p-about {
  padding-top: 48px;
  padding-bottom: 44px;
}
@media (min-width: 768px) {
  .p-about {
    padding-bottom: 42px;
  }
}

.p-about__wrapper {
  position: relative;
}
@media (min-width: 768px) {
  .p-about__wrapper {
    margin-top: 56px;
  }
}
.p-about__wrapper::before {
  position: absolute;
  content: "";
  bottom: -40px;
  left: -140px;
  background: url(../img/about_background.png) no-repeat center center/contain;
  width: 320.909px;
  height: 217.382px;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  opacity: 0.7;
  z-index: -1;
}

.p-about__heading::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  background: url(../img/about_icon-heading.png) no-repeat center center/contain;
}
@media (min-width: 768px) {
  .p-about__heading::before {
    width: 100px;
    height: 100px;
  }
}

.p-about__item {
  margin-bottom: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .p-about__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 65px;
  }
}
.p-about__item._reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.p-about__body {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-about__title {
  color: #a67d59;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
@media (min-width: 768px) {
  .p-about__title {
    margin-top: 48px;
    font-size: 24px;
    letter-spacing: 0.48px;
  }
}

._cafe::before {
  position: absolute;
  content: "";
  top: 25px;
  left: -5px;
  width: 147px;
  height: 11px;
  background: url(../img/about_deco01.png) no-repeat center center/contain;
}
@media (min-width: 768px) {
  ._cafe::before {
    top: 42px;
    left: 0px;
    width: 225px;
    height: 18px;
  }
}

._cake::before {
  position: absolute;
  content: "";
  top: 25px;
  left: -5px;
  width: 147px;
  height: 11px;
  background: url(../img/about_deco02.png) no-repeat center center/contain;
}
@media (min-width: 768px) {
  ._cake::before {
    top: 42px;
    left: 0px;
    width: 225px;
    height: 18px;
  }
}

.p-about__text {
  margin-top: 24px;
  font-size: 16px;
}
@media (min-width: 768px) {
  .p-about__text {
    margin-top: 46px;
    font-size: 20px;
    line-height: 1.76;
    letter-spacing: 0.4px;
  }
}

.p-about__head {
  text-align: center;
}
@media (min-width: 768px) {
  .p-about__head {
    text-align: left;
    width: 50%;
  }
}

.p-about__image {
  width: 136px;
  height: 133px;
}
@media (min-width: 768px) {
  .p-about__image {
    width: 288px;
    height: 288px;
  }
}

.p-about__decoration {
  position: relative;
}

.p-about__decoration-item {
  display: none;
}
@media (min-width: 1280px) {
  .p-about__decoration-item {
    display: block;
  }
}
.p-about__decoration-item.--egg {
  position: absolute;
  content: "";
  top: 145px;
  right: -290px;
  width: 192px;
  height: 138.667px;
}
.p-about__decoration-item.--eggbowl {
  position: absolute;
  content: "";
  top: 284px;
  right: -290px;
  width: 192px;
  height: 112px;
}
.p-about__decoration-item.--whisk {
  position: absolute;
  content: "";
  top: 592px;
  left: -268px;
  width: 192px;
  height: 206px;
}
.p-about__decoration-item.--whiskbowl {
  position: absolute;
  content: "";
  top: 697px;
  left: -300px;
  width: 192px;
  height: 139px;
}

/* menu
------------------------------------------ */
.p-menu {
  padding-top: 32px;
  padding-bottom: 22px;
}

.p-menu__heading::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  background: url(../img/menu_icon-heading.png) no-repeat center center/contain;
}
@media (min-width: 768px) {
  .p-menu__heading::before {
    width: 100px;
    height: 100px;
  }
}

.p-menu__wrapper {
  margin-top: 24px;
  font-family: "DM Sans";
}
@media (min-width: 768px) {
  .p-menu__wrapper {
    margin-top: 61px;
  }
}

.p-menu__category-heading {
  font-family: "DM Sans";
  font-size: 20px;
  text-align: center;
  position: relative;
}
@media (min-width: 768px) {
  .p-menu__category-heading {
    font-size: 36px;
  }
}
.p-menu__category-heading::before {
  position: absolute;
  content: "";
  top: 22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 111px;
  height: 15px;
  background: url(../img/menu_deco01.png) no-repeat center center/contain;
}
@media (min-width: 768px) {
  .p-menu__category-heading::before {
    top: 49px;
    width: 200px;
    height: 27.027px;
  }
}

.p-menu-list {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
@media (min-width: 768px) {
  .p-menu-list {
    margin-top: 64px;
    gap: 64px;
  }
}

.p-menu-list__item {
  padding-top: 22px;
  padding-bottom: 22px;
  width: 144px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}
@media (min-width: 768px) {
  .p-menu-list__item {
    padding-top: 44px;
    padding-bottom: 38px;
    width: 288px;
  }
}

.p-menu-card__head {
  width: 100px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .p-menu-card__head {
    width: 200px;
    height: 150px;
  }
}

.p-menu-card__body {
  margin-top: 19px;
}
@media (min-width: 768px) {
  .p-menu-card__body {
    margin-top: 42px;
  }
}

.p-menu-card__name {
  font-size: 16px;
}
@media (min-width: 768px) {
  .p-menu-card__name {
    font-size: 24px;
  }
}

.p-menu-card__price {
  margin-top: -2px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .p-menu-card__price {
    margin-top: 6px;
    font-size: 16px;
  }
}

.p-menu__category--drink {
  margin-top: 32px;
}
@media (min-width: 768px) {
  .p-menu__category--drink {
    margin-top: 64px;
  }
}

.p-menu-card__notes {
  font-size: 10px;
}
@media (min-width: 768px) {
  .p-menu-card__notes {
    font-size: 12px;
  }
}

.p-menu__cover-background {
  margin-top: 80px;
  position: relative;
}
.p-menu__cover-background::before {
  position: absolute;
  content: "";
  top: -65px;
  left: 51%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 312px;
  height: 42.889px;
  background: url(../img/menu_deco02.png) no-repeat center center/contain;
}
@media (min-width: 768px) {
  .p-menu__cover-background::before {
    top: -85px;
    left: 50%;
    width: 640px;
    height: 87.978px;
  }
}
.p-menu__cover-background img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-menu__decoration {
  position: relative;
}

.p-menu__decoration-item {
  display: none;
}
@media (min-width: 1280px) {
  .p-menu__decoration-item {
    display: block;
  }
}
.p-menu__decoration-item.--cooking {
  position: absolute;
  content: "";
  top: 273px;
  right: -291px;
  width: 192px;
  height: 204px;
}
.p-menu__decoration-item.--spatula {
  position: absolute;
  content: "";
  top: 713px;
  left: -273px;
  width: 173.215px;
  height: 185.845px;
}
.p-menu__decoration-item.--spatulabowl {
  position: absolute;
  content: "";
  top: 786px;
  left: -319px;
  width: 191.215px;
  height: auto;
}
.p-menu__decoration-item.--spatulamold {
  position: absolute;
  content: "";
  top: 874px;
  left: -228px;
  width: 173.215px;
  height: 103.748px;
}
.p-menu__decoration-item.--oven {
  position: absolute;
  content: "";
  top: 1251px;
  right: -291px;
  width: 192px;
  height: 181px;
}

/* info
------------------------------------------ */
.p-info {
  padding-top: 34px;
  position: relative;
}
@media (min-width: 768px) {
  .p-info {
    padding-top: 60px;
  }
}
.p-info__wrapper {
  margin-top: 37px;
}
@media (min-width: 768px) {
  .p-info__wrapper {
    margin-top: 58px;
  }
}

.p-info__shop-logo {
  width: 146.487px;
  height: 32.262px;
}
@media (min-width: 768px) {
  .p-info__shop-logo {
    width: 272px;
    height: 60px;
  }
}

.p-info-list {
  margin-top: 31px;
}
@media (min-width: 768px) {
  .p-info-list {
    margin-top: 67px;
  }
}

.p-info-list__item {
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .p-info-list__item {
    margin-bottom: 36px;
  }
}

.p-info-list__tag {
  display: inline-block;
  padding: 2px 8px;
  color: #fff;
  font-size: 16px;
  background-color: #a67d59;
}
@media (min-width: 768px) {
  .p-info-list__tag {
    padding: 4px 16px;
    font-size: 20px;
    line-height: 1.76;
    letter-spacing: 0.4px;
  }
}

.p-info-list__text {
  margin-top: 9px;
  font-size: 16px;
}
@media (min-width: 768px) {
  .p-info-list__text {
    margin-top: 18px;
    font-size: 20px;
  }
}

.p-info-map {
  padding-top: 6px;
  position: relative;
}
.p-info-map::after {
  position: absolute;
  content: "";
  bottom: -85px;
  left: 49%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 302px;
  height: 49.462px;
  background: url(../img/info_deco01.png) no-repeat center center/contain;
}
@media (min-width: 768px) {
  .p-info-map::after {
    bottom: -168px;
    left: 50%;
    width: 640px;
    height: 104.821px;
  }
}

.p-info__decoration {
  position: relative;
}

.p-info__decoration-item {
  display: none;
}
@media (min-width: 1280px) {
  .p-info__decoration-item {
    display: block;
  }
}
.p-info__decoration-item.--caddy {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  width: 192px;
  height: 117px;
}
.p-info__decoration-item.--pot {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  width: 192px;
  height: 127px;
}
.p-info__decoration-item.--pouring {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  width: 192px;
  height: 204px;
}
.p-info__decoration-item.--cup {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  width: 192px;
  height: 88px;
}
.p-info__decoration-item.--cake {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  width: 192px;
  height: 117px;
}
.p-info__decoration-item.--eating {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  width: 192px;
  height: 227px;
}

/* sns
------------------------------------------ */
.p-sns {
  padding-top: 140px;
}
@media (min-width: 768px) {
  .p-sns {
    padding-top: 226px;
  }
}

.p-sns__wrapper {
  text-align: center;
}

.p-sns__text {
  color: #a67d59;
  font-size: 20px;
}
@media (min-width: 768px) {
  .p-sns__text {
    font-size: 36px;
  }
}

.p-sns__image {
  margin-top: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .p-sns__image {
    margin-top: 34px;
  }
}
.p-sns__image img {
  width: 32px;
  height: 32px;
}
@media (min-width: 768px) {
  .p-sns__image img {
    width: 44px;
    height: 44px;
  }
}

.p-account {
  margin-top: 18px;
}
@media (min-width: 768px) {
  .p-account {
    margin-top: 41px;
  }
}

.p-account__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
@media (min-width: 768px) {
  .p-account__info {
    padding-left: 2px;
    gap: 16px;
  }
}

.p-account__icon img {
  width: 40px;
  height: 40px;
}
@media (min-width: 768px) {
  .p-account__icon img {
    width: 44px;
    height: 44px;
  }
}

.p-account__name {
  font-size: 20px;
}
@media (min-width: 768px) {
  .p-account__name {
    font-size: 24px;
  }
}

.p-account__post {
  margin-top: 8px;
}
@media (min-width: 768px) {
  .p-account__post {
    margin-top: 27px;
  }
}

/* utility
------------------------------------------ */
/* 作業用アウトライン
------------------------------------------ */