@use "sass:map";

// コンテンツ幅
// -------------------------------------------------->

$content-width: 768px; // カンプ幅 1440px

// ブレイクポイント
// -------------------------------------------------->

$breakpoints: (
  "sp": "(max-width: 375px)",
  "tb": "(min-width: 376px) and (max-width: 767px)",
  "pc": "(min-width: #{$content-width})",
) !default;

// メディアクエリ
// -------------------------------------------------->

@mixin mq($breakpoint: sp) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

// カラー
// -------------------------------------------------->

$color-base: #f2edeb;
$color-main1: #a67d59;
$color-main2: #bd9f85;
$color-main3: #55463d;
$color-sub: red;
$color-accent: blue;
$color-text: #55463d;

// フォント
// -------------------------------------------------->

$font-jp: "Zen Kaku Gothic New";
$font-en1: "DM Sans";
$font-en2: "Cormorant";

// Font XD
@mixin font($size, $weight, $height, $spacing) {
  font-size: calc($size / 16 * 1rem);
  font-weight: $weight;
  line-height: calc($height / $size);
  letter-spacing: calc($spacing / 1000 * 1em);
}

// Font Figma
@mixin font($size, $weight, $height, $spacing) {
  font-size: calc($size / 16 * 1rem);
  font-weight: $weight;
  line-height: calc($height / $size);
  letter-spacing: calc($spacing / $size * 1em);
}

// アウトライン
// -------------------------------------------------->

* {
  outline: 1px dashed magenta;
}

// 共通設定
// -------------------------------------------------->

body {
  font-family: "DM Sans", "Zen Kaku Gothic New", sans-serif;
  font-size: 16px;
  color: $color-text;
  line-height: 1.5;
  background-color: $color-base;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.3s ease 0s;

  &:hover {
    opacity: 0.7;
  }
}

main,
footer {
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  background-color: $color-base;
  max-width: 375px;

  @include mq("tb") {
    max-width: 540px;
  }

  @include mq("pc") {
    max-width: 768px;
  }
}

.body-wrapper {
  width: 100%;
  background-image: url(../img/body_background.jpg);
  background-repeat: repeat;
}

.c-section__heading {
  color: #d43333;
  font-family: $font-en2;
  font-size: 32px;
  text-align: center;
  position: relative;

  @include mq("pc") {
    font-size: 40px;
    letter-spacing: 1.6px;
  }
}

/* inner
------------------------------------------ */

// カンプ幅とコンテンツ幅の差を入力する
.l-inner {
  padding-left: 36px;
  padding-right: 36px;

  @include mq("pc") {
    padding-left: 64px;
    padding-right: 64px;
    margin: 0 auto;
    max-width: calc($content-width + 30px * 2);
  }
}

/* about
------------------------------------------ */

.p-about {
  padding-top: 48px;
  padding-bottom: 44px;
}

.p-about__wrapper {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    bottom: -40px;
    left: -140px;
    background: url(../img/about_background.png) no-repeat center center /
      contain;
    width: 320.909px;
    height: 217.382px;
    transform: rotate(-4deg);
    opacity: 0.7;
    z-index: -1;
  }
}

.p-about__heading {
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    background: url(../img/about_icon-heading.png) no-repeat center center /
      contain;

    @include mq("pc") {
      width: 100px;
      height: 100px;
    }
  }
}

.p-about__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &._reverse {
    flex-direction: row-reverse;
  }
}

.p-about__body {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-about__title {
  color: $color-main1;
  font-size: 16px;
  font-weight: 700;
  position: relative;

  @include mq("pc") {
    font-size: 24px;
    letter-spacing: 0.48px;
  }
}

._cafe {
  &::before {
    position: absolute;
    content: "";
    top: 25px;
    left: -5px;
    width: 147px;
    height: 11px;
    background: url(../img/about_deco01.png) no-repeat center center / contain;
  }
}

._cake {
  &::before {
    position: absolute;
    content: "";
    top: 25px;
    left: -5px;
    width: 147px;
    height: 11px;
    background: url(../img/about_deco02.png) no-repeat center center / contain;
  }
}

.p-about__text {
  margin-top: 24px;
  font-size: 16px;

  @include mq("pc") {
    font-size: 20px;
    line-height: 1.76;
    letter-spacing: 0.4px;
  }
}

.p-about__head {
  text-align: center;

  @include mq("pc") {
    width: 50%;
  }
}

.p-about__image {
  width: 136px;
  height: 133px;

  @include mq("pc") {
    width: 278px;
    height: 272px;
  }
}

/* menu
------------------------------------------ */

.p-menu {
  padding-top: 32px;
  padding-bottom: 22px;
}

.p-menu__heading {
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    background: url(../img/menu_icon-heading.png) no-repeat center center /
      contain;

    @include mq("pc") {
      width: 100px;
      height: 100px;
    }
  }
}

.p-menu__wrapper {
  margin-top: 24px;
  font-family: $font-en1;
}

.p-menu__category--cake {
}

.p-menu__category-heading {
  font-family: $font-en1;
  font-size: 20px;
  text-align: center;
  position: relative;

  @include mq("pc") {
    font-size: 36px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    width: 111px;
    height: 15px;
    background: url(../img/menu_deco01.png) no-repeat center center / contain;

    @include mq("pc") {
      width: 200px;
      height: 27.027px;
    }
  }
}

.p-menu-list {
  margin-top: 23px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.p-menu-list__item {
  padding-top: 22px;
  padding-bottom: 14px;
  width: 144px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.u-pt16 {
  padding-top: 16px;
  padding-bottom: 10px;
}

.p-menu-card {
}

.p-menu-card__head {
  width: 100px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;

  @include mq("pc") {
    width: 200px;
    height: 150px;
  }
}

.p-menu-card__image {
}

.u-ml3 {
  margin-left: 3px;
}

.u-ml1 {
  margin-left: 1px;
}

.p-menu-card__body {
  margin-top: 19px;
}

.u-mt15 {
  margin-top: 15px;
}

.p-menu-card__name {
  font-size: 16px;

  @include mq("pc") {
    font-size: 24px;
  }
}

.p-menu-card__price {
  margin-top: -2px;
  font-size: 12px;

  @include mq("pc") {
    font-size: 16px;
  }
}

.u-mt2 {
  margin-top: 2px;
}

.p-menu__category--drink {
  margin-top: 32px;
}

.p-menu-card__notes {
  font-size: 10px;

  @include mq("pc") {
    font-size: 12px;
  }
}

.u-mt-5 {
  margin-top: -5px;
}

.p-menu__cover-background {
  margin-top: 80px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -65px;
    left: 51%;
    transform: translateX(-50%);
    width: 312px;
    height: 42.889px;
    background: url(../img/menu_deco02.png) no-repeat center center / contain;

    @include mq("pc") {
      width: 640px;
      height: 87.978px;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}

/* info
------------------------------------------ */

.p-info {
  padding-top: 34px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 250px;
    right: -40px;
    background: url(../img/info_background.png) no-repeat center center /
      contain;
    width: 302.154px;
    height: 211.678px;
  }
}

.p-info__wrapper {
  margin-top: 37px;
}

.p-info__shop-logo {
  width: 146.487px;
  height: 32.262px;

  @include mq("pc") {
    width: 272px;
    height: 60px;
  }
}

.p-info-list {
  margin-top: 31px;
}

.p-info-list__item {
  margin-bottom: 17px;
}

.p-info-list__tag {
  display: inline-block;
  padding: 2px 8px;
  color: #fff;
  font-size: 16px;
  background-color: $color-main1;

  @include mq("pc") {
    font-size: 20px;
    line-height: 1.76;
    letter-spacing: 0.4px;
  }
}

.p-info-list__text {
  margin-top: 9px;
  font-size: 16px;

  @include mq("pc") {
    font-size: 24px;
  }
}

.p-info-map {
  padding-top: 6px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: -85px;
    left: 49%;
    transform: translateX(-50%);
    width: 302px;
    height: 49.462px;
    background: url(../img/info_deco01.png) no-repeat center center / contain;

    @include mq("pc") {
      width: 640px;
      height: 104.821px;
    }
  }
}

/* sns
------------------------------------------ */

.p-sns {
  padding-top: 140px;
}

.p-sns__wrapper {
  text-align: center;
}

.p-sns__text {
  color: $color-main1;
  font-size: 20px;
}

.p-sns__image {
  margin-top: 16px;
  text-align: center;

  img {
    width: 32px;
    height: 32px;

    @include mq("pc") {
      width: 44px;
      height: 44px;
    }
  }
}

.p-account {
  margin-top: 18px;
}

.p-account__info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.p-account__icon {
  width: 40px;
  height: 40px;

  @include mq("pc") {
    width: 44px;
    height: 44px;
  }
}

.p-account__name {
  font-size: 20px;

  @include mq("pc") {
    font-size: 24px;
  }
}

.p-account__post {
  margin-top: 8px;
}

/* footer
------------------------------------------ */

.footer {
  padding-top: 48px;
  padding-bottom: 24px;
  text-align: center;
}

.footer__copyright {
  font-size: 10px;

  @include mq("pc") {
    font-size: 12px;
  }
}
