@use "../foundation/variable";

/* footer
------------------------------------------ */

.l-footer {
  padding-top: 48px;
  padding-bottom: 24px;
  text-align: center;
}

.l-footer__copyright {
  font-size: 10px;

  @include variable.mq("lg") {
    font-size: 12px;
  }
}
