@use "../foundation/variable";

/* footer
------------------------------------------ */

.footer {
  padding-top: 48px;
  padding-bottom: 24px;
  text-align: center;
}

.footer__copyright {
  font-size: 10px;

  @include variable.mq("pc") {
    font-size: 12px;
  }
}
