// @use "../foundation/variable";
@use "../global" as *;
/* footer
------------------------------------------ */

.l-footer {
  padding-top: 28px;
  padding-bottom: 24px;
  text-align: center;

  @include mq("lg") {
    padding-top: 45px;
  }
}

.l-footer__copyright {
  font-size: 10px;

  @include mq("lg") {
    font-size: 12px;
  }
}
