// @use "../foundation/variable";
// @use "../foundation/variable" as *;
@use "../global" as *;
.l-wrapper {
  width: 100%;
  max-width: 768px;
  // background-image: url(./img/body_background.jpg);
  // background-image: url(./img/body_background.jpg);
  background-repeat: repeat;
  position: relative;
  overflow-x: hidden ; /* 横方向のオーバーフローを非表示にする */  
}

