@use "../../foundation/variable";

/* sns
------------------------------------------ */

.p-sns {
  padding-top: 140px;

  @include variable.mq("lg") {
    padding-top: 226px;
  }
}

.p-sns__wrapper {
  text-align: center;
}

.p-sns__text {
  color: variable.$color-main1;
  font-size: 20px;

  @include variable.mq("lg") {
    font-size: 36px;
  }
}

.p-sns__image {
  margin-top: 16px;
  text-align: center;

  @include variable.mq("lg") {
    margin-top: 34px;
  }

  img {
    width: 32px;
    height: 32px;

    @include variable.mq("lg") {
      width: 44px;
      height: 44px;
    }
  }
}

.p-account {
  margin-top: 18px;

  @include variable.mq("lg") {
    margin-top: 41px;
  }
}

.p-account__info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;

  @include variable.mq("lg") {
    padding-left: 2px;
    gap: 16px;
  }
}

.p-account__icon {
  img {
    width: 40px;
    height: 40px;

    @include variable.mq("lg") {
      width: 44px;
      height: 44px;
    }
  }
}

.p-account__name {
  font-size: 20px;

  @include variable.mq("lg") {
    font-size: 24px;
  }
}

.p-account__post {
  margin-top: 8px;

  @include variable.mq("lg") {
    margin-top: 27px;
  }
}
